<header class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "こども語録", root_path, id: "logo" %>
    </div>
    <nav>
      <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse" >
        <li><%= link_to "ホーム", root_path, id: "nav-list" %></li>
        <% if logged_in? %>
          <li><%= link_to "投稿する", new_micropost_path, id: "nav-list" %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete, id: "nav-list" %></li>
          <li><%= link_to user_image_s(current_user), current_user, id: "nav-list" %></li>
        <% else %> 
          <li><%= link_to "ログイン", '/auth/twitter', id: "nav-list" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>